In [1]:
import pandas as pd
import glob, os, json
import utils
import config
from sqlalchemy import create_engine

## Aggregate JSON files into single DataFrame

In [2]:
path = 'log_data/2018/11/'
abspath = os.path.dirname(os.path.abspath(path))
filelist = glob.glob(abspath + '/11/*.json')

In [3]:
df = pd.read_json(filelist[0], lines=True, orient='records', encoding='utf-8')
for i in range(len(filelist)):
    df = pd.concat([df, pd.read_json(filelist[i], lines=True, orient='records')])
print(df.shape)
df.head()

(8151, 18)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Frumpies,Logged In,Anabelle,F,0,Simpson,134.47791,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,Fuck Kitty,200,1541903636796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
1,Kenny G with Peabo Bryson,Logged In,Anabelle,F,1,Simpson,264.75057,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,By The Time This Night Is Over,200,1541903770796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
2,Biffy Clyro,Logged In,Anabelle,F,2,Simpson,189.83138,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,455,God & Satan,200,1541904034796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69
3,None,Logged In,Lily,F,0,Burns,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.540621e+12,456,None,200,1541910841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32
4,HIM,Logged In,Lily,F,1,Burns,212.06159,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540621e+12,456,Beautiful,200,1541910973796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",32

In [5]:
engine = create_engine(f'postgresql://{config.username}:{config.password}@localhost/{config.database}')

In [8]:
df.to_sql('log_data', engine, if_exists='replace')

In [ ]:
# query all free songs that start with the letter L
query = '''
SELECT 
    artist, 
    song 
FROM 
    log_data 
WHERE
    level = 'free' AND
    song LIKE 'L%%'
GROUP BY 
    artist,
    song
ORDER BY 
    artist
'''

In [23]:
data = engine.execute(query).fetchall()

## Write DataFrame to .xml file

In [4]:
utils.main(df, 'doc.xml')

In [5]:
with open('doc.xml', 'r') as f:
    doc = f.read()
    print(doc[:2000])

<root>
<item>
  <field name="artist">Frumpies</field>
  <field name="auth">Logged In</field>
  <field name="firstName">Anabelle</field>
  <field name="gender">F</field>
  <field name="itemInSession">0</field>
  <field name="lastName">Simpson</field>
  <field name="length">134.47791</field>
  <field name="level">free</field>
  <field name="location">Philadelphia-Camden-Wilmington, PA-NJ-DE-MD</field>
  <field name="method">PUT</field>
  <field name="page">NextSong</field>
  <field name="registration">1541044398796.0</field>
  <field name="sessionId">455</field>
  <field name="song">Fuck Kitty</field>
  <field name="status">200</field>
  <field name="ts">1541903636796</field>
  <field name="userAgent">"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"</field>
  <field name="userId">69</field>
</item>
<item>
  <field name="artist">Kenny G with Peabo Bryson</field>
  <field name="auth">Logged In</field>
  <field name="firstName">Anabelle</field>
  <field name="gender">F</field>
  <field name="itemInSession">1</field>
  <field name="lastName">Simpson</field>
  <field name="length">264.75057</field>
  <field name="level">free</field>
  <field name="location">Philadelphia-Camden-Wilmington, PA-NJ-DE-MD</field>
  <field name="method">PUT</field>
  <field name="page">NextSong</field>
  <field name="registration">1541044398796.0</field>
  <field name="sessionId">455</field>
  <field name="song">By The Time This Night Is Over</field>
  <field name="status">200</field>
  <field name="ts">1541903770796</field>
  <field name="userAgent">"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"</field>
  <field name="userId">69</field>
</item>
<item>
  <field name="artist">Biffy Clyro</field>
  <field name="auth">Logged In</field>
  <field name="firstName">Anabelle</field>
  <field name="gender">F</field>
  <field name="itemInSession">2</field>

In [29]:
import sqlite3
conn = sqlite3.connect('localhost.sqlite')
df.to_sql('log_data', conn, if_exists='replace', index=False)
# pd.read_sql('select * from log_data where ', conn)

In [21]:
pd.read_sql('select artist, song from log_data group by artist order by artist', conn)

                       artist                                          song
0                        None                                          None
1                         !!!                           Bend Over Beethoven
2        'N Sync/Phil Collins  Trashin' The Camp (Phil And 'N Sync Version)
3          + / - {Plus/Minus}                          The Queen of Nothing
4                         +44                                Make You Smile
...                       ...                                           ...
3144     the bird and the bee                                          Baby
3145                  tobyMac                                  Burn For You
3146                zebrahead                           With Legs Like That
3147  ÃÂngeles del Infierno                  Si TÃÂº No EstÃÂ¡s AquÃÂ­
3148          ÃÂtienne Daho                    Paris Ailleurs (Live 1992)

[3149 rows x 2 columns]

In [30]:
con = sqlite3.connect("localhost.sqlite")

In [31]:
cur = con.cursor()

In [33]:
cur.execute('select artist, song from log_data group by artist order by artist')
data = cur.fetchall()

In [35]:
df = pd.DataFrame(data, columns=['artist', 'song'])

In [36]:
df

                       artist                                          song
0                        None                                          None
1                         !!!                           Bend Over Beethoven
2        'N Sync/Phil Collins  Trashin' The Camp (Phil And 'N Sync Version)
3          + / - {Plus/Minus}                          The Queen of Nothing
4                         +44                                Make You Smile
...                       ...                                           ...
3144     the bird and the bee                                          Baby
3145                  tobyMac                                  Burn For You
3146                zebrahead                           With Legs Like That
3147  ÃÂngeles del Infierno                  Si TÃÂº No EstÃÂ¡s AquÃÂ­
3148          ÃÂtienne Daho                    Paris Ailleurs (Live 1992)

[3149 rows x 2 columns]